# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
my_data = pd.read_csv("/Users/mohamedali/Desktop/Python-DS-ML/Tensorflow/Tensorflow-Bootcamp-master/02-TensorFlow-Basics/census_data.csv")

In [5]:
my_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [26]:
def convert_label(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [48]:
my_data['income_bracket'] = my_data['income_bracket'].apply(convert_label)

In [49]:
my_data

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,1
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,1
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,1
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,1
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,1
14,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,1
15,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,1
16,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,1
17,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,1
18,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,1
19,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,1
20,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
21,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,1
22,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,1
23,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,1
24,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,1
25,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,1
26,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,1
27,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,1
28,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,1
29,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,1
32532,34,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
32533,54,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
32534,37,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,1
32535,22,Private,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,1
32536,34,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
32537,30,Private,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,1
32538,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,1
32539,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,1
32540,45,State-gov,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,1
32541,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,1
32542,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,1
32543,45,Local-gov,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,1
32544,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,1
32545,39,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
32546,37,Private,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,1
32547,43,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,1
32548,65,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,1
32549,43,State-gov,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,1
32550,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,1
32551,32,Private,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,1
32552,43,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,1
32553,32,Private,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,1
32554,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32555,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,1
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,1
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,1
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,1
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [52]:
my_scaled_data = pd.DataFrame(my_data)

In [53]:
type(my_scaled_data)

pandas.core.frame.DataFrame

In [54]:
x_data = my_scaled_data.drop(['income_bracket'], axis =1)

In [55]:
y_true = my_scaled_data['income_bracket']

### Perform a Train Test Split on the Data

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x_test, x_eval, y_test, y_eval = train_test_split(x_data, y_true,
                                                 test_size=0.3, 
                                                  random_state=101)

In [58]:
x_test.shape
x_eval.shape

(9769, 13)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [59]:
my_scaled_data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [60]:
# imported above

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [61]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [62]:
my_scaled_data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [63]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [78]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [79]:
input_func = tf.estimator.inputs.pandas_input_fn(x=x_test, y=y_test,batch_size=10,
                                          shuffle=True, num_epochs = None)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [80]:
my_lin_model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/qy/8gpp2k295j980h0fyf_7b4h80000gp/T/tmpistcjlhe
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/qy/8gpp2k295j980h0fyf_7b4h80000gp/T/tmpistcjlhe', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

** Train your model on the data, for at least 5000 steps. **

In [81]:
my_lin_model.train(input_fn= input_func, steps = 10000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/qy/8gpp2k295j980h0fyf_7b4h80000gp/T/tmpistcjlhe/model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 194.561
INFO:tensorflow:loss = 3.4014179e-06, step = 101 (0.510 sec)
INFO:tensorflow:global_step/sec: 280.227
INFO:tensorflow:loss = 3.1422968e-07, step = 201 (0.364 sec)
INFO:tensorflow:global_step/sec: 274.373
INFO:tensorflow:loss = 3.0521103e-05, step = 301 (0.364 sec)
INFO:tensorflow:global_step/sec: 290.482
INFO:tensorflow:loss = 1.3309738e-05, step = 401 (0.344 sec)
INFO:tensorflow:global_step/sec: 309.14
INFO:tensorflow:loss = 1.6730428e-07, step = 501 (0.319 sec)
INFO:tensorflow:global_step/sec: 266.912
INFO:tensorflow:loss = 4.544686e-05, step = 601 (0.382 sec)
INFO:tensorflow:global_step/sec: 237.122
INFO:tensorflow:loss = 3.0231587e-07, step = 701 (0.416 sec)
INFO:tensorflow:global_step/sec: 239.955
INFO:tensorflow:loss = 5.6950637e-07, step = 801 (0.419 sec)
INFO:tensorflow:global_step/sec: 204.203
INFO:tensorflow:loss = 3.7531788e-07, step = 901 (0.491 sec)
INFO:tensorflow:global_step/sec: 184.008
INFO:tensorflow:loss = 2.609032e-07, step = 1001 (0.541 sec)
INFO:tensorflow:global_step/sec: 174.989
INFO:tensorflow:loss = 0.00034674592, step = 1101 (0.571 sec)
INFO:tensorflow:global_step/sec: 181.139
INFO:tensorflow:loss = 6.3919515e-07, step = 1201 (0.551 sec)
INFO:tensorflow:global_step/sec: 229.173
INFO:tensorflow:loss = 9.004454e-06, step = 1301 (0.438 sec)
INFO:tensorflow:global_step/sec: 197.558
INFO:tensorflow:loss = 1.1138526e-06, step = 1401 (0.509 sec)
INFO:tensorflow:global_step/sec: 240.818
INFO:tensorflow:loss = 1.3439987e-05, step = 1501 (0.412 sec)
INFO:tensorflow:global_step/sec: 124.918
INFO:tensorflow:loss = 3.5761195e-06, step = 1601 (0.799 sec)
INFO:tensorflow:global_step/sec: 123.008
INFO:tensorflow:loss = 1.2950788e-06, step = 1701 (0.817 sec)
INFO:tensorflow:global_step/sec: 133.125
INFO:tensorflow:loss = 1.5544869e-05, step = 1801 (0.754 sec)
INFO:tensorflow:global_step/sec: 143.549
INFO:tensorflow:loss = 1.591509e-05, step = 1901 (0.696 sec)
INFO:tensorflow:global_step/sec: 63.735
INFO:tensorflow:loss = 1.0257217e-05, step = 2001 (1.560 sec)
INFO:tensorflow:global_step/sec: 76.7711
INFO:tensorflow:loss = 3.833094e-06, step = 2101 (1.302 sec)
INFO:tensorflow:global_step/sec: 90.0499
INFO:tensorflow:loss = 2.1819488e-07, step = 2201 (1.116 sec)
INFO:tensorflow:global_step/sec: 148.207
INFO:tensorflow:loss = 7.9720263e-07, step = 2301 (0.677 sec)
INFO:tensorflow:global_step/sec: 93.1893
INFO:tensorflow:loss = 4.90077e-08, step = 2401 (1.065 sec)
INFO:tensorflow:global_step/sec: 149.098
INFO:tensorflow:loss = 2.8399159e-06, step = 2501 (0.676 sec)
INFO:tensorflow:global_step/sec: 112.128
INFO:tensorflow:loss = 4.144348e-07, step = 2601 (0.887 sec)
INFO:tensorflow:global_step/sec: 140.709
INFO:tensorflow:loss = 3.7046153e-08, step = 2701 (0.718 sec)
INFO:tensorflow:global_step/sec: 182.534
INFO:tensorflow:loss = 9.0386186e-07, step = 2801 (0.546 sec)
INFO:tensorflow:global_step/sec: 140.174
INFO:tensorflow:loss = 5.9966147e-05, step = 2901 (0.710 sec)
INFO:tensorflow:global_step/sec: 201.345
INFO:tensorflow:loss = 1.7735874e-06, step = 3001 (0.496 sec)
INFO:tensorflow:global_step/sec: 169.762
INFO:tensorflow:loss = 9.7700895e-06, step = 3101 (0.597 sec)
INFO:tensorflow:global_step/sec: 181.911
INFO:tensorflow:loss = 9.037534e-06, step = 3201 (0.540 sec)
INFO:tensorflow:global_step/sec: 185.307
INFO:tensorflow:loss = 4.7882135e-05, step = 3301 (0.541 sec)
INFO:tensorflow:global_step/sec: 132.988
INFO:tensorflow:loss = 6.596389e-07, step = 3401 (0.761 sec)
INFO:tensorflow:global_step/sec: 175.439
INFO:tensorflow:loss = 6.4849746e-06, step = 3501 (0.569 sec)
INFO:tensorflow:global_step/sec: 210.602
INFO:tensorflow:loss = 0.0004167438, step = 3601 (0.469 sec)
INFO:tensorflow:global_step/sec: 211.638
INFO:tensorflow:loss = 1.5143169e-05, step = 3701 (0.478 sec)
INFO:tensorflow:global_step/sec: 210.397
INFO:tensorflow:loss = 1.8417494e-07, step = 3801 (0.477 sec)
INFO:tensorflow:global_step/sec: 212.699
INFO:tensorflow:loss = 4.7651425e-05, step = 3901 (0.463 sec)
INFO:tensorflow:global_step/sec: 203.968
INFO:tensorflow:loss = 3.780626e-07, step = 4001 (0.493 sec)
INFO:tensorflow:global_step/sec: 151.509
INFO:tensorflow:loss = 1.8963581e-06, step = 4101 (0.654 sec)
INFO:tensorflow:global_step/sec: 159.745
INFO:tensorflow:loss = 0.00040159616, step = 4201 (0.629 sec)
INFO:tensorflow:global_step/sec: 142.971
INFO:tensorflow:loss = 3.389122e-07, step = 4301 (0.697 sec)
INFO:tensorflow:global_step/sec: 117.507
INFO:tensorflow:loss = 6.115135e-05, step = 4401 (0.852 sec)
INFO:tensorflow:global_step/sec: 140.695
INFO:tensorflow:loss = 3.5736525e-07, step = 4501 (0.713 sec)
INFO:tensorflow:global_step/sec: 217.188
INFO:tensorflow:loss = 1.8802716e-08, step = 4601 (0.461 sec)
INFO:tensorflow:global_step/sec: 183.799
INFO:tensorflow:loss = 0.00021326235, step = 4701 (0.547 sec)
INFO:tensorflow:global_step/sec: 161.112
INFO:tensorflow:loss = 1.947783e-06, step = 4801 (0.618 sec)
INFO:tensorflow:global_step/sec: 158.068
INFO:tensorflow:loss = 0.0009749015, step = 4901 (0.630 sec)
INFO:tensorflow:global_step/sec: 138.577
INFO:tensorflow:loss = 5.3632937e-07, step = 5001 (0.724 sec)
INFO:tensorflow:global_step/sec: 202.71
INFO:tensorflow:loss = 3.5241757e-07, step = 5101 (0.502 sec)
INFO:tensorflow:global_step/sec: 135.846
INFO:tensorflow:loss = 5.628349e-07, step = 5201 (0.730 sec)
INFO:tensorflow:global_step/sec: 188.756
INFO:tensorflow:loss = 1.6262173e-06, step = 5301 (0.530 sec)
INFO:tensorflow:global_step/sec: 122.998
INFO:tensorflow:loss = 3.744182e-07, step = 5401 (0.811 sec)
INFO:tensorflow:global_step/sec: 204.489
INFO:tensorflow:loss = 3.968336e-05, step = 5501 (0.491 sec)
INFO:tensorflow:global_step/sec: 150.819
INFO:tensorflow:loss = 4.6918694e-07, step = 5601 (0.672 sec)
INFO:tensorflow:global_step/sec: 178.053
INFO:tensorflow:loss = 1.9419257e-07, step = 5701 (0.550 sec)
INFO:tensorflow:global_step/sec: 188.76
INFO:tensorflow:loss = 8.089871e-06, step = 5801 (0.528 sec)
INFO:tensorflow:global_step/sec: 180.2
INFO:tensorflow:loss = 1.2118739e-05, step = 5901 (0.557 sec)
INFO:tensorflow:global_step/sec: 177.886
INFO:tensorflow:loss = 3.3194488e-06, step = 6001 (0.560 sec)
INFO:tensorflow:global_step/sec: 199.886
INFO:tensorflow:loss = 1.3650053e-06, step = 6101 (0.501 sec)
INFO:tensorflow:global_step/sec: 194.265
INFO:tensorflow:loss = 1.5380624e-06, step = 6201 (0.524 sec)
INFO:tensorflow:global_step/sec: 195.147
INFO:tensorflow:loss = 2.3336885e-05, step = 6301 (0.503 sec)
INFO:tensorflow:global_step/sec: 196.793
INFO:tensorflow:loss = 3.5562905e-05, step = 6401 (0.507 sec)
INFO:tensorflow:global_step/sec: 196.584
INFO:tensorflow:loss = 9.8375185e-06, step = 6501 (0.510 sec)
INFO:tensorflow:global_step/sec: 194.158
INFO:tensorflow:loss = 7.2653995e-05, step = 6601 (0.522 sec)
INFO:tensorflow:global_step/sec: 209.299
INFO:tensorflow:loss = 2.4822725e-07, step = 6701 (0.470 sec)
INFO:tensorflow:global_step/sec: 204.433
INFO:tensorflow:loss = 3.2757757e-07, step = 6801 (0.498 sec)
INFO:tensorflow:global_step/sec: 196.344
INFO:tensorflow:loss = 9.1501065e-08, step = 6901 (0.503 sec)
INFO:tensorflow:global_step/sec: 197.917
INFO:tensorflow:loss = 1.3367328e-06, step = 7001 (0.509 sec)
INFO:tensorflow:global_step/sec: 217.043
INFO:tensorflow:loss = 6.240353e-08, step = 7101 (0.454 sec)
INFO:tensorflow:global_step/sec: 206.4
INFO:tensorflow:loss = 7.5987073e-06, step = 7201 (0.494 sec)
INFO:tensorflow:global_step/sec: 209.45
INFO:tensorflow:loss = 1.1487515e-07, step = 7301 (0.469 sec)
INFO:tensorflow:global_step/sec: 224.373
INFO:tensorflow:loss = 1.037718e-05, step = 7401 (0.445 sec)
INFO:tensorflow:global_step/sec: 209.787
INFO:tensorflow:loss = 0.0008863977, step = 7501 (0.484 sec)
INFO:tensorflow:global_step/sec: 163.997
INFO:tensorflow:loss = 1.7796572e-06, step = 7601 (0.605 sec)
INFO:tensorflow:global_step/sec: 197.914
INFO:tensorflow:loss = 4.8485523e-05, step = 7701 (0.512 sec)
INFO:tensorflow:global_step/sec: 196.54
INFO:tensorflow:loss = 0.0008389601, step = 7801 (0.502 sec)

INFO:tensorflow:global_step/sec: 204.98
INFO:tensorflow:loss = 9.3347055e-08, step = 7901 (0.495 sec)
INFO:tensorflow:global_step/sec: 134.627
INFO:tensorflow:loss = 5.667247e-05, step = 8001 (0.737 sec)
INFO:tensorflow:global_step/sec: 146.13
INFO:tensorflow:loss = 8.586053e-07, step = 8101 (0.678 sec)
INFO:tensorflow:global_step/sec: 71.1653
INFO:tensorflow:loss = 3.900841e-07, step = 8201 (1.406 sec)
INFO:tensorflow:global_step/sec: 99.3169
INFO:tensorflow:loss = 8.499717e-06, step = 8301 (1.015 sec)
INFO:tensorflow:global_step/sec: 199.003
INFO:tensorflow:loss = 6.2821446e-09, step = 8401 (0.496 sec)
INFO:tensorflow:global_step/sec: 219.576
INFO:tensorflow:loss = 0.0008093755, step = 8501 (0.457 sec)
INFO:tensorflow:global_step/sec: 211.971
INFO:tensorflow:loss = 2.1457527e-05, step = 8601 (0.475 sec)
INFO:tensorflow:global_step/sec: 195.226
INFO:tensorflow:loss = 1.3464212e-05, step = 8701 (0.515 sec)
INFO:tensorflow:global_step/sec: 211.705
INFO:tensorflow:loss = 3.7003228e-06, step = 8801 (0.476 sec)
INFO:tensorflow:global_step/sec: 174.603
INFO:tensorflow:loss = 3.1981818e-07, step = 8901 (0.563 sec)
INFO:tensorflow:global_step/sec: 215.486
INFO:tensorflow:loss = 1.2509224e-05, step = 9001 (0.466 sec)
INFO:tensorflow:global_step/sec: 203.905
INFO:tensorflow:loss = 3.213668e-07, step = 9101 (0.493 sec)
INFO:tensorflow:global_step/sec: 217.232
INFO:tensorflow:loss = 3.5572424e-07, step = 9201 (0.456 sec)
INFO:tensorflow:global_step/sec: 213.799
INFO:tensorflow:loss = 6.611032e-07, step = 9301 (0.475 sec)
INFO:tensorflow:global_step/sec: 194.132
INFO:tensorflow:loss = 0.0007893425, step = 9401 (0.510 sec)
INFO:tensorflow:global_step/sec: 191.715
INFO:tensorflow:loss = 4.5587817e-07, step = 9501 (0.526 sec)
INFO:tensorflow:global_step/sec: 186.119
INFO:tensorflow:loss = 2.913283e-06, step = 9601 (0.530 sec)
INFO:tensorflow:global_step/sec: 169.484
INFO:tensorflow:loss = 1.9865577e-06, step = 9701 (0.589 sec)
INFO:tensorflow:global_step/sec: 181.683
INFO:tensorflow:loss = 2.8578927e-07, step = 9801 (0.553 sec)
INFO:tensorflow:global_step/sec: 194.469
INFO:tensorflow:loss = 7.308555e-05, step = 9901 (0.516 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/qy/8gpp2k295j980h0fyf_7b4h80000gp/T/tmpistcjlhe/model.ckpt.
INFO:tensorflow:Loss for final step: 0.00038266944.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [82]:
pred_func = tf.estimator.inputs.pandas_input_fn(x=x_test, batch_size=len(x_test), 
                                                shuffle= False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [83]:
predicted = my_lin_model.predict(input_fn = pred_func)

** Each item in your list will look like this: **

In [84]:
my_list_pred = list(predicted)

INFO:tensorflow:Restoring parameters from /var/folders/qy/8gpp2k295j980h0fyf_7b4h80000gp/T/tmpistcjlhe/model.ckpt-10000

In [88]:
my_list_pred[0]

{'logits': array([13.482468], dtype=float32),
 'logistic': array([0.99999857], dtype=float32),
 'probabilities': array([1.3952051e-06, 9.9999857e-01], dtype=float32),
 'class_ids': array([1]),
 'classes': array([b'1'], dtype=object)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [90]:
final_preds = []
for pred in my_list_pred:
    final_preds.append(pred['class_ids'][0])

In [91]:
final_pred[:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [92]:
from sklearn.metrics import classification_report

In [94]:
print(classification_report(y_eval,final_pred))

ValueError: Found input variables with inconsistent numbers of samples: [9769, 22792]

# Great Job!